<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />

    <title>会议记录</title>
    <link rel="stylesheet" type="text/css" href="css/commes.css" />
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/default-skin/default-skin.css"/>

</head>
<body>
<div class="container">
    <!--用户头像-->
    <div class="header">
        <div><img src="images/1.jpg" /></div>    </div>
    <div class="right_con">
        <div class="demo">
            <!--用户名and发布时间-->
            <div class="use">
                <div class="usename"><span>刘亦菲</span><em class="pub-time">刚刚</em></div>
            </div>
            <!--分享的内容-->
            <p class="fx_content">Cupid，好消息，合作谈妥了！！！</p>
            <!--分享的图片-->
            <div class="my-gallery">
                <figure>
                    <a href="images/1.jpg" data-size="800x1142">
                        <img src="images/1.jpg" />
                    </a>
                </figure>

            </div>
    </div>
</div>
<div class="container">
    <!--用户头像-->
    <div class="header">
        <div><img src="images/1.jpg" /></div>
    </div>
    <div class="right_con">
        <div class="demo">
            <!--用户名and发布时间-->
            <div class="use">
                <div class="usename"><span>刘亦菲</span><em class="pub-time">12:32</em></div>
            </div>
            <!--分享的内容-->
            <p class="fx_content">Cupid，好消息，合作谈妥了！！！</p>
            <!--分享的图片-->
            <div class="my-gallery">
                <figure>
                    <a href="images/s1.jpg" data-size="800x1142">
                        <img src="images/2.jpg" alt="Image description" />
                    </a>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--用户头像-->
    <div class="header">
        <div><img src="images/4.jpg" /></div>
    </div>
    <div class="right_con">
        <div class="demo">
            <!--用户名and发布时间-->
            <div class="use">
                <div class="usename"><span>朴智妍</span><em class="pub-time">10:59</em></div>
            </div>
            <!--分享的内容-->
            <p class="fx_content">Cupid，好消息，合作谈妥了！！！</p>
            <!--分享的图片-->
            <div class="my-gallery">
                <figure>
                    <a href="images/s2.jpg" data-size="800x1142">
                        <img src="images/3.jpg" alt="Image description" />
                    </a>
                </figure>
            </div>
    </div>
</div>
</body>
</html>